<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add">Añadir</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Listado de Canciones
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let song of songList" routerLink="/detail/{{song.id}}">
    <ion-card-header>
      {{song.songName}}
    </ion-card-header>
    <ion-card-content>
      Nombre del Artista: {{ song.artistName }}
    </ion-card-content>
  </ion-card>
</ion-content>
